


.getInTouch{
    font-size: 40px;
    font-weight: 700;
    color: #2A2A2A;
}

.getInTouchForm{
    background-color: #F7F7F7;
}

.getInTouchText{
    width: 100%;
    padding: 13px;
    border: 1px solid white;
}
.getInTouchEmail{
    width: 100%;
    padding: 13px;
    margin-top: 20px;
    border: 1px solid white;
}
.textAreaGetInTouch{
    width: 100%;
    color: gray;
    border: 1px solid white;
}