


.description{
    @media screen and (max-width:991px) {
        text-align: center;
    }
    .serviceDescription{
        color: #666666;
        font-size: 15px;
        line-height: 30px;
    }
}