


.projectMainBanner{
    background: url('/assets/images/portfolioimg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .projectRowBanner{
        .projectBannerCol{
            padding: 100px;
            @media screen and (max-width:500px) {
                padding: 20px;
            }
            @media screen and (max-width:991px){
                text-align: center;
            }
        }
    }
}