



.herorow{
    .herobg{
        background: url("/assets/images/Group\ 448.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px;
        .heading{
            font-size: 70px;
            font-weight: bold;
        }
    
    }
    .herobgcolor{
        background-color: #FFB400;
        padding: 50px;
       
    }
}

@media screen and (max-width:991px) {
    .herobgcolor{
        text-align: center;
    }

    
}
@media screen and (max-width:767px){
    .herobg{
        text-align: center;
        .heroText{
            justify-content: center !important;
          .heading{
            font-size: 40px;
          }
          .barImage{
            height: 70px;
          }
        }
    }
}