

 .servicesContainer{
     padding-top: 35px;
}

.heading{
    font-size: 18px;
}
.para{
    color: white;
    font-size: 15px;
}
.icons{
    display: flex;
    @media screen and (max-width:991px){
        flex-direction: column;
        .contactDetails{
            padding-top: 5px;
        }
    }
}

@media screen and (max-width:1100px) and (min-width:992px) {
    .details{
        padding-left: 35px;
    }
}
@media screen and (max-width:991px){
    .details{
        text-align: center;
        padding-top: 20px;
    }
   .icons{
    text-align: center;
   }
}