


.experienceData{
    background-color: #2A2A2A;
    .experienceHead{
        font-size: 40px;
        font-weight: 700;
        color: white;
    }
    .experienceText{
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
}

